.logo {
    width: 75px;
    height: auto;
}

.loginBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: #f4f4f4;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.top {
    text-align: start;
    margin-bottom: 20px;
}

.top h1 {
    margin-top: 10px;
    font-size: 24px;
}

.form {
    width: 100%;
}

.form label {
    display: block;
    font-size: 16px;
    margin-bottom: 8px;
}

.form input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

.form input:focus {
    border-color: #007bff;
    outline: none;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

div {
    margin-top: 0px;
}

div a {
    color: #007bff;
    text-decoration: none;
}

div a:hover {
    text-decoration: underline;
}