.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333;
  padding: 0.5rem 1.5rem; /* Increased horizontal padding */
  box-sizing: border-box;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  color: #fff;
}

.navbar-home-button {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
}

.home-logo {
  width: 40px; /* Adjust as needed */
  margin-right: 8px;
}

.home-text {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  margin-left: 1rem;
}

.navbar-links a {
  text-decoration: none;
  color: #fff;
  padding: 0.5rem;
  transition: background 0.3s;
}

.navbar-links a:hover {
  background-color: #555;
  border-radius: 4px;
}

.profile-dropdown {
  position: relative;
  display: inline-block;
  float: right;
  margin-bottom: 8px;
}

.profile-icon {
  font-size: 2rem;
  cursor: pointer;
  color: #fff;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #444;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px;
  min-width: 150px;
  display: flex;
  flex-direction: column;
}

.dropdown-item {
  color: white;
  text-decoration: none;
  padding: 10px;
  cursor: pointer;
  transition: background 0.3s;
  text-align: left;
  border: none;
  background: none;
}

.dropdown-item:hover {
  background-color: #555;
}
